
body {
  background-image: url("https://blogs.forbes.com/olliebarder/files/2018/06/dragon_ball_remastered.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1{
	text-align: center;
	font-family: "Monotype Corsiva";
	text-underline-position: center;

}
.btn{
	position: bottom;
}

.btn-success:hover {
  position: bottom;
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}